<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="doan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <doan.Properties.Settings>
            <setting name="connStr" serializeAs="String">
                <value>Data Source=LAPTOP-OEBHI59B\MSSQLSERVER02;Initial Catalog=BookingHotel;Integrated Security=True;Encrypt=True;TrustServerCertificate=True</value>
            </setting>
        </doan.Properties.Settings>
    </applicationSettings>
</configuration>